<div class="container">
    <h1 class="text-center my-5">Mostrando los Personajes</h1>
    <% @pages.each do |p| %>
    <h2><%= p.name %></h2>
    <p><%= p.location %></p>
    <p><%= p.house %></p>
    <% end%>
</div>